.timeline {
  position: relative;
  margin: 1rem auto;
  font-family: "Raleway", sans-serif;
  background: var(--white);
  padding: 4.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "header header header";
}

h2 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  grid-area: header;
}

.container {
  position: relative;
  background-color: inherit;
  width: 50%;
  position: relative;
  width: 50%;
  display: none;
}

.left {
  left: 0;
}

.right {
  left: 50%;
  margin-left: 1rem;
  margin-right: -1rem;
}

.right::after {
  left: 0;
}

.item_header {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

.content {
  padding: 20px 30px;
  background-color: var(--white);
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  margin-right: 1rem;
  font-family: monospace;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .timeline {
    display: inline;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
  }

  .right {
    left: 0%;
  }
}

.container_img_and_content {
  overflow: hidden;
  margin: 1rem;
  margin-bottom: 2rem;
}

.timeline_image {
  height: auto;
  max-width: 100%;
  left: 50%;
  top: 0%;
  overflow: hidden;
  width: 100%;
  height: 34rem;
  object-fit: cover;
}

.timeline_image.left {
  left: 0%;
  position: sticky;
  right: 50%;
}

.timeline_image.shadow {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.77),
    0 42px 13px 0 rgba(0, 0, 0, 0.77);
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .content {
    padding: 0 1.75rem;
  }

  .item_header,
  h2 {
    margin-bottom: 0;
  }

  h2 {
    font-size: 3rem;
  }

  .timeline {
    padding: 2rem 0;
    grid-template-areas: "header header";
    grid-template-columns: auto auto;
  }

  .right {
    left: 0;
  }

  .container_img_and_content {
    display: block;
    max-height: 100%;
  }

  .timeline_image {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .timeline {
    padding: 2rem 0;
    grid-template-areas: "header header";
    grid-template-columns: auto auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  z-index: 3;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #000;
  font-size: 4rem;
  font-weight: bold;
  transition: 0.3s;
  background: var(--white);
  border: none;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .item_header {
    font-size: 1rem;
  }
  .timeline_image {
    height: 100%;
  }
}

.image-content {
  width: 40rem;
  margin: auto;
  text-align: center;
}

.image-content .item_header {
  font-size: 1rem;
}

.image_link {
  transition: 0.2s ease;
  border: none;
  width: 100%;
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

.image_link:focus,
.image_link:hover {
  -webkit-filter: brightness(70%);
}

a#oljyvari,
a#akryyli {
  grid-area: header;
}
